# This config contains various argument groups that can additionally be passed.
# Config for the current run
pdb_path: null # Path to input PDB file || null when building unconditionally
output_dir: /home/nbizjak/prosculpt_dev/outputs/deafult_output/ # Path to output directory
contig: "[C33-60/5-7/A1-30/0 B61-120]" # Contig to design
num_designs_rfdiff: 1 # Number of designs to generate with RFdiffusion
num_seq_per_target_mpnn: 2 # Number of sequences to generate per target with MPNN
chains_to_design: null # All chains of protein even if not redesigned (except if doing binder design)
af2_mpnn_cycles: 1 # Not used yet?
model_order: 1,2,3,4,5 # Choose specific models to cycle in af2-mpnn
chain_break_cutoff_A: 2 # Chain break cutoff in angstroms (default: 2)

skipRfDiff: True # Whether to skip RfDiff and only redesign a few residues with ProteinMPNN and AF
designable_residues: [A8, A9, A10, A13, A85, B, C] # Residues to be redesigned when skipRfDiff == True. Also add letters of all other chains in the PDB you wish to have in the end structure.

use_a3m: False  #If True, partial alignment will be used for natural proteins
a3m_dir: /home/folivieri/prosculpt/uPar_epitope/alignments/ #Location of the alignment files used for the partial alignment

model_monomer: False #Whether to compare designed chains to a model of itself in abscense of other proteins.

only_run_analysis: False  #Only run final operations. This is good if a previous run failed to run final ops. Default: False


defaults:
  - installation
  - _self_

pass_to_rfdiff: # Groups to pass to RfDiff
- inference
- potentials
- contigmap

pass_to_mpnn: # additional arguments and values to pass to ProteinMPNN
  --omit_AAs: "ACDEFGHIKLMNPQRSTVWY"
  --backbone_noise: 0.9 # See ProteinMPNN documentation for more arguments

pass_to_af: # additional arguments and values to pass to AlphaFold
  --templates: ""
  --custom-template-path: /home/user/mhc/

# Symmetry to sample
# Available symmetries:
# - Cyclic symmetry (C_n) # call as c5
# - Dihedral symmetry (D_n) # call as d5
# - Tetrahedral symmetry # call as tetrahedral
# - Octahedral symmetry # call as octahedral
# - Icosahedral symmetry # call as icosahedral


inference:
# symmetry: c2          #This needs to be here, inside inference
  generatedWithProsculpt: true # Leave this dummy here, otherwise it will overwrite default RfDiff base config with null
potentials:
  generatedWithProsculpt: true # Leave this dummy here, otherwise it will overwrite default RfDiff base config with null


# Filters applied to RFDiffusion backbone outputs.
# Each plugin script should define a `filter_backbone(pdb: str | Path, kwargs: dict)` function
# that returns True (pass) or False (fail) for a given structure.

rfdiff_backbone_filters:
  # # === Neighbor Count Filter ===
  # # Keeps structures only if the number of *non-scaffold* residues within 8Å of the first helix
  # # (in chain A) falls within the specified range. Excludes residues from chain B (scaffold).
  - filter_name: num_neighbors
    filter_script: plugins/num_neighbors.py
    delete_failed: false           # If False, failed structures are moved to 'failed_filters/'
    min_num_neighbors: 7         # Lower bound on allowed neighbor count
    max_num_neighbors: 50         # Upper bound on allowed neighbor count
    neighbor_distance: 8.0        # Ångström distance for detecting neighboring residues
    

# === RosettaScripts Clash Detection Filter ===
  # Uses fa_rep energy term to detect steric clashes between chains A and B.
  # Rejects structures with estimated inter-chain clashes (based on fa_rep > 10).
  - filter_name: clash_check_fa_rep
    filter_script: plugins/clash_check.py
    delete_failed: false
    base_pdb: "/home/d12-studenti/Kiyan/prosculpt_projects/Fibers/Roller_fuse/input_structures/2B12.pdb" #Change this to location of base oligomer
    residues_to_align: 85
    skip_last_residues: 200